
body {

}

#first {
	border: 2px solid green;
	border-left: none;
	border-right: none;
	width: 200px;
	height: 20px;
	padding-top: 50px;
	padding-right: 150px;
	padding-bottom: 50px;
	padding-left: 150px;

	margin: 200px auto 0 auto;
}
#sec {
	border: 2px solid green;
	border-bottom: 0;
	border-top: 0;
	width: 20px;
	height: 400px;
	padding: 10px 60px 10px 60px;
	margin: -250px auto 0 auto ;
	
}

/*#third {
	border: 2px solid green;
	width: 20px;
	height: 200px;
	
	
}
*/